{% extends "shared/__layout.html" %}
{% load static %}

{% block title %}Login{% endblock title %}


{% block content %}
    <div class="header-bar">
        <h1>Login</h1>
    </div>
    <div class="card-body">
        <form action="{% url "login" %}" method="post">
            {% csrf_token %}
            {{form}}
            <input class="button" type="submit" value='login'>
        </form>
    
        <p>Dont have an <a href="{% url "register" %}">account</a>?</p>
    </div>
{% endblock content %}
